#colorpalette{
    display: flex;
   flex-wrap: wrap;
   margin-left: 25px;
   margin-top: 60px;
 
   
}
.colors{
    width: 240px;
    height: 180px;
    transition: 0.5s;
}
.colors{
    display: flex;
    font-size: 15px;
     align-items: end;
    justify-content: right;
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.colors:hover{
    transform: scale(0.5);
    transition: 0.5s;
}
h1{
    text-align: center;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}